<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <p class="text-red-500">All tags info:</p>
    <%= JSON.stringify(tags) %>
    <hr>
    <p class="text-red-500">Blog info:</p>
    <%= JSON.stringify(blog) %>
    <hr>
    <p class="text-red-500">This blog related tags info:</p>
    <%= JSON.stringify(blogTags) %>

</body>
</html>