<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body>
    <div class="min-h-screen flex justify-center items-center">
        <img src="/images/<%= image_name %>" alt="error image" class="w-96 h-96">
    </div>
</body>
</html>