<%- include('./partial/header.ejs') %>
    <div id="container" class="w-full h-full mx-auto lg:max-w-[1024px] flex flex-col border border-red-300 p-4">
        <img src="/images/<%= image_name %>" alt="error image">
    </div>
<%- include('./partial/footer.ejs') %>