    </main>
    <footer class="row-start-3 flex justify-center items-center bg-stone-800 text-white">
        <p>©2025 by ABC. Powered by Express.js</p>
    </footer>

    <% if (locals.script_name) { %>
        <script type="module" src="/js/<%= script_name %>"></script>
    <% } %>
</body>
</html>