<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <title><%= title %></title>
</head>
<body class="min-h-screen grid grid-rows-[100px_1fr_80px]">
    
    <header class="bg-stone-800 flex justify-between items-center px-16">
        <div class="h-full">
            <img src="/images/logo.png" alt="logo" class="h-full object-contain">
        </div>
        <div >
            <ul class="flex gap-4 font-bold">
                <li class="text-white hover:text-yellow-500" >
                    <a href="/">Home</a>
                </li>
                <% locals.tags && locals.tags.forEach(tag => { %>
                    <li class="text-white hover:text-yellow-500">
                        <a href="/web/blogs/tags?tag=<%= tag.id %>"><%= tag.name %></a>
                    </li>
                <% }); %>
            </ul>
        </div>
        <div>
            <ul class="flex gap-4 font-bold">
                <li class="text-white hover:text-yellow-500">
                    <a href="/web/admin">Admin</a>
                </li>
            </ul>
        </div>
    </header>
    <main class="row-start-2">
